TA3/flows.json
[
    {
        "id": "b0e56811e1f4fc9f",
        "type": "ui_gauge",
        "z": "3bf217d5715acbea",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 0,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "68daae1d38352887",
        "type": "mqtt in",
        "z": "3bf217d5715acbea",
        "name": "",
        "topic": "humValue",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "b0e56811e1f4fc9f",
                "8a799328070916c7"
            ]
        ]
    },
    {
        "id": "673f498823aa9f06",
        "type": "mqtt in",
        "z": "3bf217d5715acbea",
        "name": "",
        "topic": "tempValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "8a799328070916c7",
                "20349c287024b982"
            ]
        ]
    },
    {
        "id": "c2925092664d380e",
        "type": "function",
        "z": "3bf217d5715acbea",
        "name": "AddToArray",
        "func": "var tableData = flow.get(\"savedData\") || []\n\nmsg.payload[\"timeStamp\"] = new Date().toLocaleString()\n\nif(tableData.length>0 )\n{   \n   tableData.unshift( msg.payload)\n}\nelse if(tableData.length==0){\n   tableData.unshift( msg.payload)\n}\n\nmsg.payload = tableData\n\nflow.set(\"savedData\", tableData)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"savedData\", [])",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 200,
        "wires": [
            [
                "bfe40ff9d857faf2"
            ]
        ]
    },
    {
        "id": "8a799328070916c7",
        "type": "join",
        "z": "3bf217d5715acbea",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "15",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "c2925092664d380e",
                "71163ade5c99ec07"
            ]
        ]
    },
    {
        "id": "312d2ea4b8ee8af4",
        "type": "ui_table",
        "z": "3bf217d5715acbea",
        "group": "d7add96eb24337e9",
        "name": "Data Table",
        "order": 1,
        "width": "20",
        "height": "5",
        "columns": [
            {
                "field": "time",
                "title": "Time Stamp",
                "width": "30%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tempValue",
                "title": "Temperature",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "phValue",
                "title": "PH",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tdsValue",
                "title": "TDS",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humValue",
                "title": "Humidity",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "bfe40ff9d857faf2",
        "type": "function",
        "z": "3bf217d5715acbea",
        "name": "SetUpFirebaseData",
        "func": "var data = []\ndata[\"humValue\"] = msg.payload[0][\"humValue\"]\ndata[\"phValue\"] = msg.payload[0][\"phValue\"]\ndata[\"tempValue\"] = msg.payload[0][\"tempValue\"]\ndata[\"tdsValue\"] = msg.payload[0][\"tdsValue\"]\ndata[\"time\"]=msg.payload[0][\"timeStamp\"]\n\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 180,
        "wires": [
            [
                "ba530f6139c739b0"
            ]
        ]
    },
    {
        "id": "73d4520d85544b9a",
        "type": "telegram client sender",
        "z": "3bf217d5715acbea",
        "name": "",
        "bot": "38453e9c236cb604",
        "x": 770,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "17ee57fce3fb2b71",
        "type": "mqtt in",
        "z": "3bf217d5715acbea",
        "name": "",
        "topic": "phValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "8a799328070916c7",
                "db417ad73e2fe6d8"
            ]
        ]
    },
    {
        "id": "aecc1d1634e11ded",
        "type": "mqtt in",
        "z": "3bf217d5715acbea",
        "name": "",
        "topic": "tdsValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "8a799328070916c7",
                "e1d8709c1320f3e6"
            ]
        ]
    },
    {
        "id": "20349c287024b982",
        "type": "ui_gauge",
        "z": "3bf217d5715acbea",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 1,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "db417ad73e2fe6d8",
        "type": "ui_gauge",
        "z": "3bf217d5715acbea",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "PH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "e1d8709c1320f3e6",
        "type": "ui_gauge",
        "z": "3bf217d5715acbea",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "TDS",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 160,
        "wires": []
    },
    {
        "id": "71163ade5c99ec07",
        "type": "function",
        "z": "3bf217d5715acbea",
        "name": "CheckForThreshold",
        "func": "var thresholds = {humValue: { low: 12, high: 25 },\n                  tempValue: { low: 20, high: 30 },\n                  phValue: { low: 5.5, high: 7 },\n                  tdsValue: { low: 600, high: 1600 },\n                  }\nvar currentData = msg.payload\n\nvar status = \"\"\nfor (let key in thresholds) {\n  if (currentData[key] < thresholds[key].low || thresholds[key].high < currentData[key]) {\n    status = `${status} ${key} reading is ${currentData[key]}. (range ${thresholds[key].low}-${thresholds[key].high}) \\n`\n  }\n}\n\nstatus =status +\"\\n /controls\" \nif(status!=\"\")\n{\n  msg.payload = {\n      \"api\": \"messages\",\n      \"func\": \"SendMessage\",\n      \"args\": {\n          \"peer\": \"shubham80621\",\n          \"message\": status\n      }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "73d4520d85544b9a"
            ]
        ]
    },
    {
        "id": "75a6c27f55d430c3",
        "type": "telegram client receiver",
        "z": "3bf217d5715acbea",
        "name": "",
        "bot": "38453e9c236cb604",
        "sendrawevents": false,
        "sendnewmessage": true,
        "sendeditedmessage": false,
        "senddeletedmessage": false,
        "sendalbum": false,
        "sendcallbackquery": false,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "eae458e8ed4c6e35"
            ]
        ]
    },
    {
        "id": "93daf94e0d7611c3",
        "type": "function",
        "z": "3bf217d5715acbea",
        "name": "Create Tele Commands ",
        "func": "var msg = msg\n \nmsg.payload = {\n  \"api\": \"messages\",\n  \"func\": \"SendMessage\",\n  \"args\": {\n    \"peer\": \"shubham80621\",\n    \"message\": \"Choose an option: \\n /startIrrigation \\n /stopIrrigation\"\n  }\n};\n\nreturn [msg];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "73d4520d85544b9a"
            ]
        ]
    },
    {
        "id": "ffaa1d7011f0ab81",
        "type": "mqtt out",
        "z": "3bf217d5715acbea",
        "name": "",
        "topic": "/irrigate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac6659385df72324",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "783b70bbb0be174a",
        "type": "function",
        "z": "3bf217d5715acbea",
        "name": "HandleIrrigation",
        "func": "var msg = msg\nif (msg.payload.message.message == \"/startIrrigation\"){\n   msg.payload = \"100\" \n   return msg;\n}\nelse if (msg.payload.message.message == \"/stopIrrigation\"){\n   msg.payload = \"0\" \n   return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 360,
        "wires": [
            [
                "ffaa1d7011f0ab81"
            ]
        ]
    },
    {
        "id": "eae458e8ed4c6e35",
        "type": "switch",
        "z": "3bf217d5715acbea",
        "name": "",
        "property": "payload.message.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/controls",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "/controls",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "93daf94e0d7611c3"
            ],
            [
                "783b70bbb0be174a"
            ]
        ]
    },
    {
        "id": "ba530f6139c739b0",
        "type": "firebase modify",
        "z": "3bf217d5715acbea",
        "name": "Set Firebase Data",
        "firebaseconfig": "",
        "childpath": "tableData",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 730,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "29159a81388a1e42",
        "type": "firebase.on",
        "z": "3bf217d5715acbea",
        "name": "Get Firebase Data",
        "firebaseconfig": "",
        "childpath": "tableData",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 130,
        "y": 440,
        "wires": [
            [
                "480c49cb85fe5ef5"
            ]
        ]
    },
    {
        "id": "480c49cb85fe5ef5",
        "type": "function",
        "z": "3bf217d5715acbea",
        "name": "format table data",
        "func": "const data = [];\n\nfor (const key in msg.payload) {\n    const obj = { id: key, ...msg.payload[key] };\n    data.unshift(obj);\n}\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "312d2ea4b8ee8af4"
            ]
        ]
    },
    {
        "id": "3125ee5a8ea0abc1",
        "type": "ui_group",
        "name": "Guages",
        "tab": "d3fb97e7a614c68d",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ac6659385df72324",
        "type": "mqtt-broker",
        "name": "C140",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d7add96eb24337e9",
        "type": "ui_group",
        "name": "Data Table",
        "tab": "d3fb97e7a614c68d",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38453e9c236cb604",
        "type": "telegram client config",
        "botname": "Noderedexpbot",
        "verboselogging": false,
        "loginmode": "bot",
        "useproxy": false,
        "usewss": false,
        "host": "",
        "sockstype": "5",
        "port": "6667",
        "username": "anonymous",
        "password": "",
        "secret": "",
        "mtproxy": false,
        "timeout": "2",
        "info": "6499039108:AAGX8TObSomH6Frhw_bh3wr4kc_XrW6crPI\r\n"
    },
    {
        "id": "d3fb97e7a614c68d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]